html {
  overflow: auto;
  font-size: 18px;
}

body {
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: darkgrey;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  outline: 1px solid slategrey;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.col-xl-12 #mapDiv {
  height: 450px;
}

.col-xl-12 .pre-scrollable {
  max-height: 500px;
}

.col-xl-8 #mapDiv {
  height: 280px;
}

.full-height-card {
  height: 100%
}

@media (min-width: 768px) {
  .full-height-card ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media (min-width: 576px) {
  .full-height-card ul li {
    padding-right: 1.5rem;
  }
}

.full-height-card ul li {
  text-align: left;
}

.team-profile-link img {
  width: 32px;
}

.popup-button {
  font-size: 1.25rem !important;
}

.popup-button object{
  vertical-align: middle;
  filter: invert(100%);
  height: 30px;
  padding-right: 5px;
}

.senior-form .fas, .senior-form .ni, .senior-form .fas, .senior-form .far{
  color: #e43535;
}

.senior-form textarea::-webkit-input-placeholder, .senior-form textarea:focus::-webkit-input-placeholder,
.senior-form textarea::-ms-input-placeholder, .senior-form textarea:focus::-ms-input-placeholder,
.senior-form textarea::placeholder, .senior-form textarea:focus::placeholder,
.senior-form input::-webkit-input-placeholder, .senior-form input:focus::-webkit-input-placeholder,
.senior-form input::-ms-input-placeholder, .senior-form input:focus::-ms-input-placeholder,
.senior-form input::placeholder, .senior-form input:focus::placeholder
{
  color: #e43535;
  font-weight: 600;
}

.senior-form .custom-checkbox {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

.senior-form .custom-control-alternative .custom-control-label::before, .senior-form .custom-control-alternative .custom-control-label::after {
  top: 0.75rem;
}

.senior-form .custom-checkbox .fas, .senior-form .custom-checkbox .far{
  vertical-align: middle;
  padding: 5px;
  font-size: 2rem;
}
