html {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: darkgrey;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  outline: 1px solid slategrey;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.col-xl-12 #mapDiv {
  height: 450px;
}

.col-xl-12 .pre-scrollable {
  max-height: 500px;
}

.col-xl-8 #mapDiv {
  height: 280px;
}

.full-height-card {
  height: 100%
}

@media (min-width: 768px) {
  .full-height-card ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media (min-width: 576px) {
  .full-height-card ul li {
    padding-right: 1.5rem;
  }
}

.full-height-card ul li {
  text-align: left;
}

.team-profile-link img {
  width: 32px;
}

.request-card-container {
  margin-top: 100px;
}

.request-card {
  width: 30%;
  border: 1px solid #8898aa !important;
  margin: 0 20px 20px 0;
}

.share-icon {
  padding-right: 10px !important;
}

@media screen and (max-width: 1200px) {
  .request-card {
    width: 40%;
  }
}

@media screen and (max-width: 960px) {
  .request-card {
    width: 100%;
  }
}